.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
}

h1 {
  font-size: 2.5em;
  color: #4CAF50;
  text-shadow: 1px 1px #616161;
  text-decoration: underline;
  margin: 20px;  
}


