.tasks {
    padding: 20px; 
    margin: 20px;
    display: flex;
    justify-content: center;
}

table {
    width: 45vw;
}

th {
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 11px;
    border: 1px solid #616161;
}

.headToDo {
    background-color: #4CAF50;
    color: white;
}

.headDone {
    background-color: #ffffcc;
    color: black;
}

td {
    background-color:#fff;
    border: 1px solid #616161;
    text-align: left;
    padding: 8px;
}
